.home-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
  }
  .responsive-image {
    max-width: 100%; 
    height: auto; 
  }